<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
{% if fullurl == page.url %}
{% assign current_page = fullurl %}
{% break %}
{% elsif page.url contains fullurl %}
{% assign current_page = fullurl %}
{% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    <center>
        <table>
            <tr>
                {% for entry in site.data.navigation %}
                {% if entry.url == current_page %}
                {% assign current = ' style="background-color: #FFFFFF; font-weight: bold; border: 3px solid blue;"' %}
                {% else %}
                {% assign current = ' style="background-color: #cccccc; border: 1px solid blue;"' %}
                {% endif %}
                {% if entry.title != 'Home' %}
                <td{{ current }} width="150" align="center"><a href="{{ site.baseurl }}{{ entry.url }}" style="display: block;width: 150px">{{ entry.title}}</a></td>
                    {% endif %}
                    {% endfor %}
            </tr>
            {% if page.url == '/' %}
            <tr>
                <td></td>
                {% for entry in site.data.navigation %}
                {% if entry.title == 'Home' %}
                <td colspan="2" style="background-color: #FFFFFF; font-weight: bold; border: 3px solid blue;"' width="150" align="center"><a href="{{ site.baseurl }}{{ entry.url }}" style="display: block;width: 150px">{{ entry.title}}</a></td>
                {% endif %}
                {% endfor %}
                <td></td>
            </tr>
            {% endif %}
        </table>
    </center>
</nav>